body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

nav {
  background-color: #FF8C00;
  padding: 10px 5px;
}

nav div {
  display: inline-block;
}

nav img {
  width: 30px;
  margin-bottom: -5px;
  filter: invert(100%);
}

span {
  font-weight: bold;
}

nav ul {
  padding-left: 0;
  padding-right: 15px;
}

nav #navRight {
  /* width: 70%; */
  text-align: right;
}

nav #navLeft {
  width: 65%;
}

nav #navLeft a {
  margin-left: 45px;
  font-size: 27px;
}

nav #navRight ul li {
  display: inline-block;
  margin: 0 18px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

span.trademark {
  font-weight: 400;
  font-size: 15px;
  top: -9px;
  position: relative;
}

div#search {
  text-align: right;
}

#search input {
  width: 200px;
  padding: 15px;
  background-color: #F0F0EF;
  border: none;
  margin-right: 35px;
  margin-top: 10px;
}

#search .svg-inline--fa {
  position: relative;
  right: -215px;
  color: #C5C5C7;
}

#search input::placeholder {
  color: #C5C5C7;
}

#left {
  display: inline-block;
  width: 30%;
  margin-top: 25px;
  margin-left: 150px;
}

#left img {
  width: 85%;
  margin-left: 65px;
  /* box-shadow:
      0 0 0 50px white inset; */
}

#right {
  display: inline-block;
  position: absolute;
  width: 33%;
  margin-top: 130px;
  margin-left: 150px;
}

#right h5 {
  margin: 0 15px;
  font-size: 35px;
  font-weight: 400;
  width: 530px;
  color: #FF8C00;
}

#right div {
  text-align: center;
  padding: 45px 0;
}

#right span {
  color: #FF8C00;
}

#right span.teal{
  color: #7BCBC9;
}

button {
  background-color: #FF8C00;
  color: #fff;
  font-size: 13px;
  border: none;
  border-radius: 2px;
  padding: 15px 20px;
  width: 42%;
  margin: 0 3%;
}

button.teal {
  background-color: #7BCBC9;
}

footer {
  margin-top: 150px;
  background-color: #7BCBC9;
  height: 150px;
}


/*   MEDIA QUERRIES    */
/* @media (max-width: 1550px) {
	#navRight {
    text-align: center;
    font-size: 10px;
    margin-right: 30px;

	}
  #navLeft {
    text-align: center;
    margin-left: 45px;
  }
  #navLeft img {
    margin-left: -40px;
  }
  #search {
    margin-right: 18px;
  }
  #left img {
    margin-left: -130px;
  }
  #right h5{
    font-size: 15px;
    margin-left: 10px;
  }
  button {
    font-size: 10px;
    padding: 5px 10px;
    width: 65%;
    margin: 0;
    margin-right: 820px;
  }
} */
